### 1. Number Pattern: using a for loop and range function

In [1]:
for i in range(6):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 2. Number Pattern: Half pyramid pattern with numbers

In [2]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 3. Number Pattern: Inverted Pyramid pattern with numbers

In [3]:
for i in range(1, 6):
    for j in range(5, i-1, -1):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

### 4. Number Pattern: Inverted Pyramid pattern with same number

In [4]:
num = 5 # Or num = rows
for i in range(5,0,-1):
    for j in range(0, i):
        print(num, end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### 5. Number Pattern: Display descending order of number

In [5]:
for i in range(5,0,-1):
    for j in range(1, i+1):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### 6. Number Pattern: Inverted half pyramid pattern with number

In [6]:
for i in range(5, 0, -1):
    for j in range(0, i+1):
        print(j, end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

### 7. Number Pattern: Display Reverse number pattern

In [8]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### 8. Number Pattern: Double the number

In [9]:
for i in range(1,9):
    for j in range(i-1, -1, -1):
        print(format(2**j, "4d"), end=" ")
    print()

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

### 9. Number Pattern:

In [10]:
for i in range(1, 9):
    for j in range(0, i-1):
        print(format(2**j, "4d"), end=" ")
    for k in range(i-1, -1, -1):
        print(format(2**k, "4d"), end=" ")
    print()

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

### 10. Number Pattern: Display 1 to 10 number in Pattern:

In [11]:
currentnumbar = 1
row = 3
stop = 2
for i in range(0, row):
    for j in range(1, stop):
        print(currentnumbar, end= " " )
        currentnumbar +=1
    print()
    stop +=2

1
2 3 4
5 6 7 8 9

### 11. Number Pattern: Display 1 to 10 number in Pattern:

In [12]:
currentnumbar = 1
row = 4
stop = 2
for i in range(0, row):
    for j in range(1, stop):
        print(currentnumbar, end= " " )
        currentnumbar +=1
    print()
    stop +=1

1
2 3
4 5 6
7 8 9 10

### 12. Number Pattern: Even number pattern

In [13]:
rows = 5
lastevennumber = 2* rows
evennumber = lastevennumber

for i in range(1, rows+1):
    evennumber = lastevennumber
    for j in range(i):
        print(evennumber, end=" ")
        evennumber -=2
    print()

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

### 13. Number Pattern: Print the below pattern

In [14]:
for i in range(1, 6):
    for j in range(1, i):
        print(j, end= " ")
    for k in range(i, 0, -1):
        print(k, end = " ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### 14. Number Pattern 14: Reverse number pattern

In [15]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end= " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### 15. Number Pattern: Print the below pattern

In [16]:
for i in range(0, 7):
    for j in range(i+1):
        print(j*i, end = "  ")
    print()

0
0  1
0  2  4
0  3  6  9
0  4  8  12  16
0  5  10  15  20  25
0  6  12  18  24  30  36

### 16. Number Pattern: Print the below pattern

In [17]:
for i in range(0, 6):
    for j in range(i+1, 6):
        print(j, end = " ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

### 17. Number pattern: Display men’s pant style pattern with numbers

In [18]:
rows = 5
for i in range(1, rows+1):
    for j in range(rows, i-1, -1):
        print(j, end = " ")
    for l in range(i-1):
        print("   ", end = " ")
    for k in range(i, rows+1):
        print(k, end = " ")
    print("\n")

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [19]:
rows = 6
for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print(j, '', end='')
    for l in range(i):
        print('  ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2   2 3 4 5

5 4 3     3 4 5

5 4       4 5

5         5

### 18. Number pattern: Alternate numbers pattern

In [20]:
rows = 5
for i in range(1, rows*2 + 1, 2):
    for j in range(0, i, 2):
        print(i, end= " ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### 19. Number pattern: Square Pattern with numbers

In [21]:
for i in range(1,6):
    for j in range(1, i):
        print(i, end=" ")
    for k in range(i, 6):
        print(k, end = " ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### 20. Number pattern: Right-angled triangle pattern with numbers

In [22]:
rows = 5
for i in range(1, rows+1):
    for j in range(rows-i, 0, -1):
        print(" ", end = " ")
    for k in range(1, i+1):
        print(k, end = " ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

### 21. Number pattern: Pascal’s Triangle Pattern using numbers

In [23]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end="")
        print()

def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

rows = 7
print_pascal_triangle(rows)

1
11
121
1331
14641
15101051
1615201561

### 22. Star Pattern: Equilateral triangle pattern with Stars

In [9]:
rows = 7
for i in range(1, rows+1):
    for j in range(rows-i, 0, -1):
        print(" ", end = " ")
    for k in range(i):    
        print(" * ", end = " ")
    print()

             *
           *   *
         *   *   *
       *   *   *   *
     *   *   *   *   *
   *   *   *   *   *   *
 *   *   *   *   *   *   *

### 23. Star Pattern: Half pyramid pattern with Star

In [2]:
for i in range(1, 6):
    for j in range(i):
        print('*', end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

### 24. Star Pattern: Left Half-Pyramid Pattern with Star

In [26]:
for i in range(1, 6):
    for j in range(6-i, 0, -1):
        print(" ", end=" ")
    for k in range(i):
        print("*", end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

### 25. Star Pattern: Print Right start Pattern with Star

In [27]:
for i in range(1, 6):
    for j in range(i):
        print("*", end = " ")
    if i == 5:
        print()
        for k in range(i-1, 0, -1):
            print(k* "* ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 26. Star Pattern:  Downward star Pattern

In [4]:
for i in range(1, 7):
    for j in range(i):
        print(" ", end= "" )
    for j in range(7-i, 0, -1):
        print("*", end= " ")
    print()

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

### 27. Star Pattern: Diamond Shaped Pattern using stars

In [5]:
for i in range(1, 6):
    for j in range(5-i, 0, -1):
        print(" ", end= "")
    for k in range(i):
        print("*", end = " ")
    print()
    
for i in range(1, 5):
    for j in range(i):
        print(" ", end= "" )
    for k in range(5-i, 0, -1):
        print("*", end= " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### 28. Combination of numbers and stars in a pattern:

In [33]:
rows = 4

for i in range(0, rows):
    c = 1
    print(c, end = " ")
    for j in range(rows-i-1, 0, -1):
        print("*", end = " ")
        c= c + 1
        print(c, end = " ")
    print("\n")

1 * 2 * 3 * 4

1 * 2 * 3

1 * 2

1

### 29. Right-angled triangle pattern with alphabets/Characters:

In [44]:
num = 65
rows = 7
for i in range(0, rows):
    for j in range(0, i+1):
        print(chr(num), end= " ")
        num = num + 1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

### 30. Display letter of the word in Pattern:

In [45]:
word = 'Python'
x = ""
for i in word:
    print(x+i)
    x = x + i

P
Py
Pyt
Pyth
Pytho
Python

### 31. Equilateral triangle pattern with characters/alphabets:

In [53]:
rows = 7
num = 65
for i in range(1, rows+1):
    for j in range(rows-i, 0, -1):
        print(" ", end = "")
    for k in range(i):
        print(chr(num), end = " ")
        num = num + 1
    print()

      A
     B C
    D E F
   G H I J
  K L M N O
 P Q R S T U
V W X Y Z [ \

### 32. Print the following Number Pattern:

In [65]:
rows = 4
counter = 0
for i in range(0, rows):
    for j in range(0, i+1):
        print(counter, end = " ")
        counter = 2 ** (i+1)
    print()

0
2 4
4 8 8
8 16 16 16